:root {
  /* color */
  --white-color: #f8f8f8;
  --white-dark: #f0f0f0;
  --green-color: #107516;
  --yellow-color: #fff59d;
  --yellow-light: #ffffcf;
  --yellow-dark: #faf756;
  --yellow-prime: #efd81d;
  align-items: center;
  --gray-dark: #0e0e0a;
  --light-gray: #BEBEBE;
  /* Size */
  --padding: 12px;
  --padding-side: 40px;
  --padding-updown: 12px;
  --margin: 12px;
  /* Font Size */
  --font-micro: 0.7rem;
  --font-small: 0.9rem;
  --font-medium: 1.1rem;
  --font-large: 1.3rem;

  /* Font */
  --Nanum-Ghothic: 'Nanum Gothic', sans-serif;
  --Noto-Sans-KR: 'Noto Sans KR', sans-serif;
  --Roboto: 'Roboto', sans-serif;
}

/* 전역변수 설정 */

html {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  box-sizing: border-box;
  list-style: none;
}

i {
  color: var(--gray-dark);
}

/* input 태그: 브라우저가 기본으로 지정하는 스타일링 제거 */
input,
input:focus {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

input {
  width: 100%;
  padding: var(--padding-updown) var(--padding-side);
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li {
  font-family: var(--Roboto);
}

/* Header.navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  background-color: var(--yellow-prime);
}

.navbarLogo {
  font-size: var(--font-medium);
}

.navbarLogo i {
  color: red;
}

.navbarCategory {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbarCategory > li {
  margin-right: var(--margin);
}

.navbarIcons {
  display: flex;
  align-items: center;
}

.navbarIcons .search-bar {
  /* 자식 요소인 i 태그의 absolute 속성의 부모 요소 조건을 갖춤.(relative 속성) */
  position: relative;
}

.navbarIcons .search-bar input:focus {
  border: none;
  outline: 1px solid gray;
  transition: outline 1s;
}

.navbarIcons .search-bar i {
  position: absolute;
  left: 0px;
  top: calc(var(--padding-updown) + 6px);
  color: gray;
}

.navbarIcons i {
  font-size: var(--font-large);
  margin-left: var(--margin);
}

/* mainFrame */
.frame {
  width: 100%;
  /* min-height: 1000px; */
  /* height: auto; */
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin-bottom: var(--margin);
  /* max-width: 90%; */
  /* margin: 0 auto; */

}

/* mainFrame > monthFrame*/
.home{
width: 90%;
height: auto;
/* height: 500px; */
display: flex;
justify-content: space-around;
align-items: flex-start;
margin: auto;
}
.home .left_component{
  /* width: 20%; */
  flex: 2 2 20%;
  height: 100%;
  padding: var(--padding) calc(var(--padding) * 2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  
}
.home .left_component .left_component_weather{
  width: 100%;
  height: 500px;
  border: solid 1px var(--light-gray);
  border-radius: 15px;
  margin-bottom: var(--margin);
}

.home .left_component .left_component_button{
  width: 100%;
  height: 500px;
  border: solid 1px var(--light-gray);
  border-radius: 15px;
  justify-self: end;
}

.home .right_component{
  flex: 8 8 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 2);
}

.home .right_component .frame .todayTodo{
  width: 25%;
  height: 645px;
  padding: var(--padding);
  border: solid 1px var(--light-gray);
  border-radius: 15px;
}

.home .right_component .frame .todayTodo .todayTodoList{
  width: 90%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;

}

.home .right_component .frame .todayTodo .todayTodoList .todauTodoItem{
  width: 100%;
  border: solid 1px var(--light-gray);
  border-radius: 15px;
}

.home .right_component .contentsFrame{
  width: 100%;
  height: 350px;
  border-radius: 15px;
  border: solid 1px var(--light-gray);
}

.claendarchangecls{
  display: none !important; 
}

.frame .monthFrame {
  display: flex;
  width: 70%;
  height: auto;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  border: solid 1px var(--light-gray);
  border-radius: 15px;
}

.frame .monthFrame .monthInfo {
  width: 100%;
  font-size: var(--font-large);
  text-align: center;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-gray);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.frame .monthFrame .monthInfo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frame .monthFrame .monthInfo .monthInfoBtn{
  background-color: transparent;
  border: none;
}
.frame .monthFrame .monthInfo .inputstatus{
  display: none;
}

.frame .monthFrame .calendar {
  width: 100%;
}

.frame .monthFrame .calendar >thead{
  width: 100%;
  background-color: var(--white-dark);
  padding: var(--padding) 0;
  margin-bottom: calc(var(--margin)/2);
}

.frame .monthFrame .calendar > thead > th{
  padding: var(--padding) 0;
  padding-left: 15px;
  text-align: left;
}

.frame .monthFrame .calendar > tbody{
  margin-top: 4px;
  width: 100%;
}

.frame .monthFrame .calendar > tbody > tr{
  width: 100%;
  margin-top: 4px;

}

.frame .monthFrame .calendar > tbody > tr > td{
  width: 14%;
  height: 110px;
  padding: 0;
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
}
.frame .monthFrame .calendar > tbody > tr > td > div{
  padding-top: 15px;
  padding-left: 15px;
  text-align: left;
  width: 100%;
  height: 100%;
  /* align-self: baseline; */
}

.frame .monthFrame .calendar > tbody > tr > td > div:hover{
  border: solid 0.8px #52B2BF;
  border-radius: 5px;
}

.frame .monthFrame .calendar > tbody > tr > td > div:active{
  border: solid 0.8px red;
  border-radius: 5px;
}

.frame .monthFrame .calendar img {
  width: 100%;
}
.frame .calendar-modal{
  display: none;
}
/* mainFrame > weekFrame*/
.frame .weekFrame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  padding: var(--padding) calc(var(--padding) * 2);
  height: 100%;
}

.frame .weekFrame .weekInfo {
  font-size: var(--font-medium);
  text-align: center;
  margin: var(--margin);
}

/* mainFrame > weekFrame > Todo*/
.frame .weekFrame .dailyTodo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: lightgray 1px solid;
  width: 100%;
}

.frame .weekFrame .dailyTodo .dailyInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: var(--padding);
  font-size: var(--font-small);
}

.frame .weekFrame .dailyTodo .dailyList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: var(--padding);
}

.frame .weekFrame .dailyTodo .dailyList li {
  margin-bottom: calc(var(--margin) / 2);
  font-size: var(--font-micro);
}

/* Footer */
footer {
  display: none;
  position: sticky;
  bottom: 0;
  background-color: var(--white-dark);
  padding: var(--padding);
}

footer .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(var(--font-large) * 2);
}

footer .icons i {
}
