:root {
  /* color */
  --color-white: #f8f8f8;
  --color-white-dark: #f0f0f0e5;
  --color-green: #107516;
  --color-yellow: #fff59d;
  --color-yellow-light: #ffffcf;
  --color-yellow-dark: #faf756;
  --color-yellow-prime: #efd81d;
  --color-purple: #a014a0;
  --color-gray-dark: #33332f;
  --color-gray-light: #bebebe;
  --color-blue: #3d5afe;
  --color-html: #fd7e14;
  --color-vue: #41b883;
  --color-react: #61dafb;
  --color-css: #29a9df;
  --color-js: #efd81d;
  --color-black: #000;

  /* Size */
  --padding: 12px;
  --padding-side: 40px;
  --padding-updown: 12px;
  --padding-one: 30px;
  --margin: 12px;
  --margin-semi: 24px;
  --margin-one: 44px;

  /* Font Size */
  --font-large: 40px;
  --font-medium: 24px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font Weight */
  --weight-bold: 700;
  --weight-semi-bold: 500;
  --weight-regular: 400;

  /* Font */
  --Noto-Sans-KR: "Noto Sans KR", sans-serif;
  --Roboto: "Roboto", sans-serif;

  /* Width */
  --max-width: 1200px;
  --min-width: 760px;
  --left-component-min-width: 235px;

  /* Height */
  --calendar-height: 560px;
  --info-height: 50px;

  /* ChatBot Image */
  --chat-img-size: 30px;
}

/* 전역변수 설정 */

html {
  font-size: 16px;
  background-color: var(--color-white-dark);
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

#app {
  max-width: var(--max-width);
  min-width: var(--min-width);
  margin: 0 auto;
  padding: 30px 0;
}

* {
  padding: 0;
  margin: 0;
  border-spacing: 0;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  font-family: var(--Noto-Sans-KR);
  font-weight: 300;
}

*::before,
*::after {
  box-sizing: border-box;
}

i {
  color: var(--color-gray-darkcolor-);
}

/* input 태그: 브라우저가 기본으로 지정하는 스타일링 제거 */
input,
input:focus {
  appearance: none;
  border: none;
  outline: none;
  background: none;
}

input {
  width: 100%;
  padding: var(--padding-updown) var(--padding-side);
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

li {
  font-family: var(--Roboto);
}

/* Header.navbar */
.navbar {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border-radius: 15px;
  border: none;
  background-color: var(--color-yellow-prime);
  color: var(--color-white);
  padding: 8px 24px;
}

.logo__img {
  width: 90%;
  /* height: 300px; */
}

/* Navbar - Search */
.navbar__search {
  position: relative;
  width: 20%;
}

.search {
  width: 100%;
  padding: 8px 12px;
  margin: 0;
  border: 1px solid var(--color-gray-dark);
  border-radius: 4px;
}

.search:focus {
  border: 1px solid var(--color-gray-light);
}

.search:focus search-icon {
  color: var(--color-gray-light);
}

.search-icon {
  color: var(--color-gray-dark);
  position: absolute;
  font-size: var(--font-medium);
  top: 50%;
  right: 2%;
  margin-top: -12px;
}

.navbar__icons {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.log__btn {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 4px 8px;
  color: var(--color-gray-dark);
  background-color: var(--color-white-dark);
  margin: 8px 0;
  margin-left: 8px;
  font-size: var(--font-small);
  font-weight: var(--weight-semi-bold);
}

.log__btn:hover,
.log__btn:focus {
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: var(--color-vue);
  color: var(--color-white-dark);
}

.log__btn a {
  font-weight: var(--weight-semi-bold);
  color: var(--color-gray-dark);
}

.log__btn:hover a {
  font-weight: var(--weight-semi-bold);
  color: var(--color-white-dark);
}

.profile {
  font-size: var(--font-large);
  color: var(--color-black);
}

/* mainFrame */
.calendar_frame {
  width: 100%;
  height: 100%;
  margin-bottom: var(--margin-semi);
}

.frame {
  width: 100%;
  height: var(--calendar-height);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* mainFrame > monthFrame*/
.home {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: auto;
}
.home .left_component {
  flex: 2 2 20%;
  min-width: var(--left-component-min-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* margin-top: 44px; */
}
.home .left_component .left_componet_weather {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border: none;
}

.home .left_component .left_componet_corona {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border: none;
}

.home .left_component .left_component_button {
  width: 100%;
  height: auto;
  border: solid 1px var(--color-gray-light);
  border-radius: 15px;
  justify-self: end;
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border: none;
  background-color: var(--color-white);
}

.right_component {
  flex: 8 8 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-left: var(--padding-one);
}

/* todayTodo */
.home .right_component .frame .todayTodo {
  width: 25%;
  height: 100%;
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border: none;
  border-radius: 15px;
  background-color: var(--color-white);
}

.home .right_component .frame .todayTodo .todayTodoList {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: auto;
}

.home .right_component .frame .todayTodo .todayTodoList .todayTodoItem {
  width: 100%;
  border: solid 1px var(--color-gray-light);
  border-radius: 15px;
}

.home .right_component .contentsFrame {
  width: 100%;
  height: auto;
  /* border-radius: 15px;
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border: none; */
  /* background-color: var(--color-white); */
}

.claendarchangecls {
  display: none !important;
}

.realtime__wrapper {
  display: flex;
  justify-content: flex-start;
}

.toggle_btn_space {
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--padding);
  justify-content: flex-end;
  align-items: center;
}

.toggle_btn_space .toggle {
  --width: 40px;
  --height: calc(var(--width) / 2);
  --border-radius: calc(var(--height) / 2);

  margin-left: calc(var(--width) / 2);
  display: inline-block;
  cursor: pointer;
}

.toggle_btn_space .toggle__input {
  display: none;
}

.toggle_btn_space .toggle__fill {
  position: relative;
  width: var(--width);
  height: var(--height);
  border-radius: var(--border-radius);
  background: #dddddd;
  transition: background 0.2s;
}

.toggle_btn_space .toggle__input:checked ~ .toggle__fill {
  background-color: #5a007e;
}

.toggle_btn_space .toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: var(--height);
  width: var(--height);
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--border-radius);
  transition: transform 0.2s;
}

.toggle_btn_space .toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(var(--height));
}

.frame .monthFrame {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border: none;
  border-radius: 15px;
  background-color: var(--color-white);
}

.frame .monthFrame .monthInfo {
  width: 100%;
  height: var(--info-height);
  font-size: var(--font-regular);
  text-align: center;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-gray-light);
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.frame .monthFrame .monthInfo {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.frame .monthFrame .monthInfo .monthInfoBtn {
  background-color: transparent;
  border: none;
}
.frame .monthFrame .monthInfo .inputstatus {
  display: none;
}

.frame .monthFrame .calendar {
  width: 100%;
  height: calc(100% - var(--info-height));
}

.frame .monthFrame .calendar > thead {
  width: 100%;
  height: var(--info-height);
  background-color: var(--color-white-dark);
  padding: var(--padding) 0;
  /* margin-bottom: calc(var(--margin) / 2); */
}

.frame .monthFrame .calendar > thead > th {
  padding: var(--padding) 0;
  padding-left: 15px;
  text-align: left;
}

.frame .monthFrame .calendar > tbody {
  margin-top: 4px;
  width: 100%;
  height: calc(100% - var(--info-height));
}

.frame .monthFrame .calendar > tbody > tr {
  width: 100%;
  margin-top: 4px;
}

.frame .monthFrame .calendar > tbody > tr > td {
  width: 14%;
  height: calc(100% / 6);
  /* display: flex;
  justify-content: center;
  align-items: flex-start; */
}
.frame .monthFrame .calendar > tbody > tr > td .calendarDay {
  padding-top: 15px;
  padding-left: 15px;
  text-align: left;
  width: 100%;
  height: 100%;
  /* align-self: baseline; */
}

.frame
  .monthFrame
  .calendar
  > tbody
  > tr
  > td
  .calendarDay
  .todaytodoframewidth {
  width: 100%;
}

.frame .monthFrame .calendar > tbody > tr > td > div:hover {
  border: solid 0.8px #52b2bf;
  border-radius: 5px;
}

.frame .monthFrame .calendar > tbody > tr > td > div:active {
  border: solid 0.8px red;
  border-radius: 5px;
}

.frame .calendar-modal {
  display: none;
}
/* mainFrame > weekFrame*/
.frame .weekFrame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: var(--calendar-height);
  background-color: var(--color-white);
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border: none;
  /* border: solid 2px var(--color-gray-light); */
  border-radius: 15px;
  border-collapse: collapse;
}

.frame .weekFrame .monthInfo {
  height: 10%;
  width: 100%;
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: larger;
  font-weight: 700;
}

.frame .weekFrame .monthInfo > button {
  background-color: transparent;
  border: none;
}

.frame .weekFrame .monthInfo .inputstatus {
  display: none;
}

.frame .weekFrame > table {
  width: 95%;
  border-radius: 15px;
  height: 80%;
  border-collapse: collapse;
  margin: auto;
}

.frame .weekFrame > table > thead {
  height: 20%;
}

.frame .weekFrame > table > thead > th {
  padding: var(--padding);
  /* border-bottom: solid 1px var(--color-gray-light); */
  font-size: large;
  text-align: left;
}

.frame .weekFrame > table > tbody {
  height: 100%;
}

.frame .weekFrame > table > tbody > td {
  border-right: solid 1px var(--color-gray-light);

  /* border-left: solid 1px var(--color-gray-light); */

  height: 100%;

  /* border-left: solid 1px var(--color-gray-light); */
}

.frame .weekFrame > table > tbody > td > .td-dayInfo {
  height: 10%;
  padding: var(--padding);
  text-align: left;
}

.frame .weekFrame > table > tbody > td > .td-dayInfo > a {
  text-decoration: none;
  font-size: medium;
}

.frame .weekFrame > table > tbody > td .tf-dailytodoList {
  height: 90%;
  border-radius: 15px;
}

.frame .weekFrame > table > tbody > td .tf-dailytodoList .td-dailytodoItem {
  height: auto;
  text-align: left;
  width: 100%;
  background-color: rgb(14, 126, 255);
  color: var(--color-white);
}

.frame .weekFrame .weekInfo {
  font-size: var(--font-medium);
  text-align: center;
  margin: var(--margin);
}

/* mainFrame > weekFrame > Todo*/
.frame .weekFrame .dailyTodo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: lightgray 1px solid;
  width: 100%;
}

.frame .weekFrame .dailyTodo .dailyInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: var(--padding);
  font-size: var(--font-small);
}

.frame .weekFrame .dailyTodo .dailyList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: var(--padding);
}

.frame .weekFrame .dailyTodo .dailyList li {
  margin-bottom: calc(var(--margin) / 2);
  font-size: var(--font-micro);
}

/* Footer */
footer {
  display: none;
  position: sticky;
  bottom: 0;
  background-color: var(--color-white-dark);
  padding: var(--padding);
}

footer .icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(var(--font-large) * 2);
}

/* Ipad 크기 미디어 쿼리 작성. */
@media screen and (max-width: 768px) {
  :root {
    /* Font Size */
    --font-large: 24px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;

    /* Font Weight */
    --weight-bold: 700;
    --weight-semi-bold: 500;
    --weight-regular: 400;

    --calendar-height: 400px;

    --max-width: 768px;
    --min-width: 560px;

    /* ChatBot Image */
    --chat-img-size: 30px;

    /* Height */
    --calendar-height: 560px;
    --info-height: 50px;
  }

  #app {
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: 0 auto;
    padding: 12px 20px;
  }

  /* 1. Navbar */

  .navbar__search {
    width: 40%;
  }

  .search-icon {
    top: 50%;
    right: 5%;
    margin-top: -8px;
  }

  .search:focus .search-icon {
    color: var(--color-gray-light);
  }

  /* 2. Home */
  .home {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: flex-start;
    margin: auto;
  }

  .right_component {
    width: 100%;
    padding: 0;
  }

  .toggle_btn_space {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0;
  }

  /* 3. Left_component */
  .home .left_component {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .home .left_component .left_componet_weather {
    width: 40%;
    margin: 30px 0;
  }

  .home .left_component .left_componet_corona {
    width: 45%;
    padding: 12px;
  }

  /* ChatBot 관련 */
  .chatbot-container {
    z-index: 1;
  }
}
