.loginbox {
  width: 40%;
  margin: calc(var(--margin) * 10) auto;
  padding: calc(var(--padding) * 4);
  height: 400px;
  /* background-color: var(--white-color); */
  /* box-shadow: 0px 0px 15px 0.3px rgb(43, 42, 42); */
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.loginbox > h1 {
  width: 100%;
  height: 15%;
  text-align: left;
  padding: 0 calc(var(--padding) * 3);
}

.loginbox .login-form {
  width: 100%;
  height: 80%;
  margin: auto;
  /* padding: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loginbox .login-form > div {
  text-align: left;
  width: 80%;
}

.loginbox .login-form > div > label {
  border-left: solid 4px rgb(216, 202, 0);
  padding-left: var(--padding);
}

.loginbox .login-form > div > input {
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border: none;
}

.loginbox .login-form > button {
  width: 80%;
  height: 2.5rem;
  border-radius: 4px;
  font-size: var(--font-medium);
  border: none;
  background-color: rgb(238, 238, 133);
  cursor: pointer;
}

.loginbox .login-form > button:hover {
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  cursor: pointer;
}

/* Signup */
.signupbox {
  font-style: var(--Nanum-Ghothic);
  width: 40%;
  margin: calc(var(--margin) * 10) auto;
  padding: calc(var(--padding) * 4);
  height: 500px;
  /* background-color: var(--white-color); */
  /* box-shadow: 0px 0px 15px 0.3px rgb(43, 42, 42); */
  /* border-radius: 8px; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.signupbox > h1 {
  width: 100%;
  height: 15%;
  text-align: left;
  padding: 0 calc(var(--padding) * 3);
}

.signupbox .signup-form {
  width: 100%;
  height: 80%;
  margin: auto;
  /* padding: auto; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.signupbox .signup-form > div {
  text-align: left;
  width: 80%;
}

.signupbox .signup-form > div > label {
  border-left: solid 4px rgb(216, 202, 0);
  padding-left: var(--padding);
}

.signupbox .signup-form > div > input {
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  border: none;
}

.signupbox .signup-form > button {
  width: 80%;
  height: 2.5rem;
  border-radius: 4px;
  font-size: var(--font-medium);
  border: none;
  background-color: rgb(238, 238, 133);
  cursor: pointer;
}

.signupbox .signup-form > button:hover {
  box-shadow: 0px 0px 10px 0.3px var(--color-gray-light);
  cursor: pointer;
}

.profilebox {
  flex: 8 8 80%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: var(--padding) calc(var(--padding) * 2);
}
.profile-content-box {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}
.profile-content-box > div {
  padding: 10px;
}
.profile-img-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.profile-img-invite-btn {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.profile-content-box > div {
  border: 1px solid;
  width: 100%;
}
.profile-content-social-box {
  display: flex;
  align-items: center;
}
.profile-content-follow-box {
  display: flex;
  flex-direction: row;
  margin: auto;
}
.profile-content-eachbox {
  width: 30%;
  margin: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-content-eachbox > div {
  margin: 10px;
}
.disappear {
  display: none;
}
.profile-follow-modal {
  position: fixed;
  z-index: 1;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  overflow: auto;
  background-color: white;
  border: 1px solid;
}
.profile-follow-modal-title {
  width: 100%;
  position: relative;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: pink;
  padding: 0px 5px 0px 10px;
}
.profile-follow-modal-content {
  width: 100%;
  height: 80%;
  bottom: 0;
  position: relative;
}
.profile-follow-modal-content > div {
  text-align: left;
  width: 100%;
  border-bottom: 1px solid;
  padding: 10px;
  font-size: 20px;
}
.profile-follow-modal-content > div:last-child {
  border-bottom: 0px;
}
.profile-follow-modal-each {
  display: flex;
  justify-content: space-between;
}
.profileTodoBox {
  width: 100%;
}
.profile-todobox-title {
  margin: 10px;
  padding: 10px;
}
ul.profile-todobox-tab {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
ul.profile-todobox-tab li {
  width: 100%;
  background: none;
  color: #222;
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
}
ul.profile-todobox-tab li.current {
  background: #ededed;
  color: #222;
}
.profile-todobox-content {
  width: 100%;
}
.profile-todobox-tab-content {
  background: #ededed;
  padding: 20px;
}
.profile-todobox-tab-content-each {
  padding: 15px 0px 15px 0px;
  background: #ededed;
}
.profile-todobox-tab-content-each.current {
  border: 1px solid;
  background: #ededed;
  border-bottom: 1px solid;
}
.pointer {
  cursor: pointer;
}
.profile-follow-input-box {
  display: flex;
}
.profile-follow-input-follow {
  margin: auto;
}
.profile-follow-input-autocompleted {
  width: 100%;
  margin: 8px 0;
  border: 1px solid;
  z-index: 2;
  position: absolute;
  top: 19%;
  background-color: white;
}
.profile-follow-input-autocompleted > div {
  padding: var(--padding-updown) var(--padding-side);
  border-bottom: 1px solid;
}
.profile-follow-input-autocompleted div:last-child {
  border-bottom: 0px;
}
