.stockframe {
  background-color: #f8f8f8;
  width: 90%;
  margin: calc(var(--margin) * 3) auto;
}

.stockframe .stockinput {
  width: 80%;
  /* background-color: var(--white-color); */
  margin: calc(var(--margin) * 1) auto;
}

.stockframe .stockinput .stockinput {
  background-color: var(--white-color);
  margin: calc(var(--margin) * 1) auto;
}

.stockframe .stockinput .loading {
  width: 70%;
  font-size: large;
  margin: calc(var(--margin) * 10) auto;
}


.stockframe .loading .flower {
  -webkit-animation: flower 3s linear infinite;
}

.stockframe .Chart__container {
  /* border-radius: 15px;
  box-shadow: 0px 0px 10px 0.3px var(--light-gray);
  border: none; */
}

.stockframe .Chart__container .Chart__content {
  margin: 40px 0;
  box-shadow: 0px 0px 10px 0.1px var(--color-gray-light);
  border: none;
  border-radius: 15px;
}

@-webkit-keyframes flower {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.autocomplete-result-list {
  font-family: var(--Noto-Sans-KR);
}

#autosuggest {
  width: 100%;
}

#autosuggest__input {
  box-shadow: 0px 0px 10px 0.1px var(--color-gray-light);
  border: none;
  border-radius: 5px;
}

.autosuggest__results-item--highlighted {
  background-color: rgba(51, 217, 178, 0.2);
}

#stockselect__wrapper {
  margin: 20px;
}

.stock__select__box {
  margin: auto 10px;
  padding: 5px;
  box-shadow: 0px 0px 10px 0.1px var(--color-gray-light);
  border: none;
  border-radius: 5px;
}

.autosuggest-container {
  z-index: 20;
}