/* 속성 작성 순서 */
/* 0. width, heigth 등 */
/* 1. display, position 등 위치나 보여짐에 관한 것 */
/* 2. Padding, Margin, Border 등 박스에 관한 것 */
/* 3. Color에 관한 것 */

.weather__frame {
  display: flex;
  justify-content: center;
  margin-top: var(--padding-one);
}

.weather {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow-prime);
  opacity: 0.75;
  color: var(--color-black);
  padding: 10px;
}

.weather__date {
  background-color: var(--color-white-dark);
  border-radius: 12px;
  padding: 8px 32px;
  margin-bottom: 8px;
}

.weather .weather__date .date {
  font-family: var(--Noto-Sans-KR);
  font-size: var(--font-regular);
  font-weight: var(--weight-semi-bold);
}

.weather .weather__select {
  padding: 8px 0;
}

.weather .weather__info {
  width: 50%;
  text-align: center;
  padding: 8px 0;
  margin: var(--margin-h) 0;
  border-radius: 20px;
  background-color: var(--color-white-dark);
  color: var(--color-black);
}

.weather .weather__info .info__location {
  font-weight: var(--weight-semi-bold);
  font-size: var(--font-medium);
  margin-bottom: 8px;
}

.info__sky {
  font-size: var(--font-micro);
  font-weight: var(--weight-semi-bold);
}

.weather .weather__info .info__detail {
  padding: 8px 0;
}

.weather .weather__info .info__pop {
  font-size: var(--font-micro);
}

.weather .weather__info .detail__icon {
  padding: 8px 0;
}

.weather .weather__info .detail__icon i {
  font-size: var(--font-large);
  transition: all 300ms ease-in-out;
}

.detail__icon i:hover,
.detail_icon {
  transform: scale(1.3);
}

/* icon 색상 */
.fa-cloud {
  color: var(--color-gray-dark);
}

.fa-cloud-showers-heavy {
  color: var(--color-gray-dark);
}

.fa-cloud-sun {
  color: var(--color-css);
}

.fa-snowflake {
  color: var(--color-gray-light);
}

.fa-sun {
  color: var(--color-html);
}

.select__label {
  font-size: var(--font-small);
  font-weight: var(--weight-regular);
  font-family: var(--Roboto);
  margin-right: 4px;
}

select {
  appearance: none;
  font-family: "Noto Sansf KR", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;

  color: var(--color-gray-dark);
  background-color: #fff;

  padding: 2px 8px;
  margin: 0;

  border: 1px solid #aaa;
  border-radius: 0.5em;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
}

select:hover {
  border-color: #888;
}

select:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}

select:disabled {
  opacity: 0.5;
}

@media screen and (max-width: 768px) {
  .weather__date {
    padding: 8px 24px;
  }
}
