/* 속성 작성 순서 */
/* 0. width, heigth 등 */
/* 1. display, position 등 위치나 보여짐에 관한 것 */
/* 2. Padding, Margin, Border 등 박스에 관한 것 */
/* 3. Color에 관한 것 */

.weather__frame {
  display: flex;
  justify-content: center;
  margin-top: var(--padding-one);
}

.weather {
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-yellow-prime);
  opacity: 0.75;
  color: var(--color-black);
  padding: 10px;
}

.weather .weather__date .date {
  font-family: var(--Roboto);
  font-size: large;
  font-weight: 500;
}

.weather .weather__select {
  display: flex;
  align-items: center;
  padding: var(--padding-m);
}

.weather .weather__info {
  width: 50%;
  text-align: center;
  padding: var(--padding-l);
  margin: var(--margin-h) 0;
  border-radius: 20px;
  background-color: var(--white);
  color: var(--color-black);
}

.weather .weather__info .info__location {
  padding: var(--padding-l);
}

.weather .weather__info .info__detail {
  padding: var(--padding-l);
}

.weather .weather__info .info__pop {
  font-size: var(--font-micro);
}

.weather .weather__info .detail__icon {
  padding: var(--padding-l);
}

.weather .weather__info .detail__icon i {
  font-size: var(--font-macro);
}

/* icon 색상 */
.fa-cloud {
  color: var(--color-gray-dark);
}

.fa-cloud-showers-heavy {
  color: var(--color-gray-dark);
}

.fa-cloud-sun {
  color: var(--color-css);
}

.fa-snowflake {
  color: var(--color-gray-light);
}

.fa-sun {
  color: var(--color-html);
}
